[Unit]
Description=InfluxDB is an open-source, distributed, time series database
Documentation=https://influxdb.com/docs/
After=network.target

[Service]
User={{ influx_db_user }}
Group={{ influx_db_group }}
LimitNOFILE=65536
EnvironmentFile=-/etc/default/influxdb
Environment='STDOUT=/dev/null'
Environment='STDERR={{ influxdb_log_dir }}/influxd.log'
ExecStart=/bin/sh -c "{{ influxdb_path }} -config {{ influxdb_conf_dir }}/influxdb.conf $INFLUXD_OPTS > ${STDOUT} 2> ${STDERR}"
Restart=on-failure
KillMode=control-group

[Install]
WantedBy=multi-user.target
